.boxes-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  width: 100%;
}

#editor{
  width: 40%;
  height: 50vh;
  font-size: 18px;
  background-color: #2f2f2f;
  resize: none;
  color: white;
  padding-left: 20px;
  overflow: auto;
  border-radius: 10px;
}

#preview{
  width: 70%;
  height: 80vh;
  font-size: 18px;
  background-color: #2f2f2f;
  color: white;
  padding: 0 20px;
  margin-top: 20px;
  overflow: auto;
  border-radius: 10px;
}

img{
  max-width: 100%;
}